.container {
  margin-top: 200px;
  padding: 8px 8px 8px 8px;
  width: 100%;
  height: 900px;
  border: 2px solid black;
  background-color: white;
  display: block;
  align-items: center;
  text-align: center;
}

.profilecontainer {
  width: 50%;
  height: 100%;
  display: block;
  text-align: center;
  background-color: #F5EFE6;
  border: 2px solid black;
}

.profileimage {
  margin-top: 8px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}

.msg-btn {
  border-radius: 2px solid black;
}
