.navbar-lewagon {
  background: rgb(59, 59, 59);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-lewagon .navbar-nav .nav-link {
  color: white;
}

#navbar-mid-div {
  width: 50%;
}

#navbar-mid-div a {
  text-decoration: none;
  color: white;
}

#navbar-mid-div a:hover {
  text-decoration: none;
  color: #ffcd00;
}

#navbarSupportedContent a:hover {
  color: #ffcd00;
}
